/* HEADER STYLES */

body {
    font-family: Roboto, sans-serif;
    color: #212121;
    line-height: 16px;
}

:root {
    --brand-color: #2196f3;
}

.logo-1 {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;
    color: black;
}

header {
    background-color: whitesmoke;
}

.logo-2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: var(--brand-color);
}

.email {
    color: #212121;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.phone-nr {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.studio-nav {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}
.portfolio-nav {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}
.contacts-nav {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.studio-nav:hover,
.studio-nav:focus {
    color: var(--brand-color);
}

.portfolio-nav:hover,
.portfolio-nav:focus {
    color: var(--brand-color);
}

.contacts-nav:hover,
.contacts-nav:focus {
    color: var(--brand-color);
}

.email:hover,
.email:focus {
    color: var(--brand-color);
}

.phone-nr:hover,
.phone-nr:focus {
    color: var(--brand-color);
}

ul {
    list-style-type: none;
}

/* REQUEST SECTION STYLES */

.request-section {
    background-color: #2f303a;
}

.request-section-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
}

.request-button {
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    color: #ffffff;
}

.strenghts-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.strenghts-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}

/* FOOTER STYLES */

footer {
    background-color: #2f303a;
}

footer a {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

    color: #ffffff;
}

.phone-nr-footer {
    color: rgba(255, 255, 255, 0.6);
}

.email-footer {
    color: rgba(255, 255, 255, 0.6);
}

footer > a {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;
    color: #ffffff;
}
